@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryWhite: #ebe6dd;
  --primaryDark: #1e213f;
  --primaryMid: #292d53;
  --primaryLight: #797fb4;
  --secondaryDark: #3f1e26;
  --secondaryMid: #482a31;
  --secondaryLight: #83696f;
  --desktopHeaderHeight: 184px;
  --mobileHeaderHeight: 127px;
}

body {
  background-color: var(--primaryWhite);
  color: var(--primaryMid);
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
