@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryLight: #fefdfa;
  --primaryDark: #291309;
  --primaryAccent: #5d4133;
  --headerHeightDesktop: 68px;
  --headerHeightMobile: 78px;
}

body {
  background-color: var(--primaryLight);
  color: var(--primaryDark);
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
